<p style="color: green"><%= notice %></p>

<h1> All Lists</h1>

<%# <%= render 'lists/list', lists: @lists %>
<div>
<ul>
  <% @lists.each do |list| %>
  <% if list.photo.attached?  %>
    <li><%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %> </li>
    <li><%= link_to list.name, list_path(list) %></li>
    <% end %>
  <% end %>
</ul>
</div>


<%= link_to "New List", new_list_path %>
